@charset "UTF-8";

/* CSS Document */

body{
	background: white;
}

p{
	font-family: "nudista-web";
	color: #5b5b5b;
	font-size: 1.3rem;
	font-weight: 100;
}

h1, h2, h3, h4, h5{
	font-family: "nudista-web";
}

nav p {
	font-size: 1.1rem;
}

.container{
	padding-right: 0;
	padding-left: 0;
}

.parallelogram:hover{
	background-color: white;
}

.carousel{
	padding: 1vw 0;
}

.carousel-control-prev-icon{
	background-image: url(./../cut/arrow_left.svg);
	width: 20%;
	height: 20%;
	margin-left: -150%;
}

.carousel-control-next-icon{
	background-image: url(./../cut/arrow_right.svg);
	width: 20%;
	height: 20%;
	margin-right: -150%;
}

.divider{
	height: 30px;
}

.parallelogram {
	transition: all .3s ease;
	border-left: 1px solid white;
	width: 140px;
	height: 50px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #f2f2f2;
	margin-left: -15px;
	padding-top: 12px; 
	text-align: center;
	
}

.parallelogram p{
		-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	color: #b7b7b7
}

.last{
	border-right: 1px solid white;
}

.navbar ul{
	list-style:none;
    position:relative;
	right: 25%;
}

.navbar{
	background-color: #f2f2f2 !important;
	height: 50px;
}

.logo img {
	height: 100px;
	display: block;
    margin: 0 auto;
}

.d-block{
	border: solid 1px #b7b7b7;
}

.text {
	padding: 50px 100px;
	background-color: #fafafa;
	border: solid 1px #b7b7b7;
	text-align: justify;
}


.corner-bottom-right-bevel {
  width: 20vw;
  height: 20vw;
  -webkit-clip-path: polygon(100% 0, 100% 20%, 100% 80%, 100% 20%);
  clip-path: polygon(100% 0, 100% 20%, 100% 80%, 100% 20%);
  background: red;
}

/*class element_right sluzi ako neviditelny polygon okolo ktoreho obteka text*/
.element_right {
  float: right;
  box-sizing: border-box;
  shape-outside: polygon(100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  width: 100px;
  height: 200px;
  /*background-color: firebrick;*/
}

/*class element_left sluzi ako neviditelny polygon okolo ktoreho obteka text*/
.element_left {
  float: left;
  box-sizing: border-box;
  shape-outside: polygon(100% 0, 0 100%, 0 75%);
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 75%);
  width: 100px;
  height: 200px;
  /*background-color: firebrick;*/
}

.part{
	margin-right: -4.3%;
	margin-left: -3.2%;
}

.part_text_right p{
	color: white;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.part_text_left p{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.part_text_right{
	shape-outside: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	overflow: visible;
	background: #b7b7b7;
	padding: 40px;
	min-height: 250px;
	font-weight: 200;
	font-style: italic;
	margin-left: 3%;
	margin-right: -7%;
	padding-right: -0.5%;
}

.part_img_left{
	background-image: url(./../cut/gallery_images/gallery_image6.png);
	shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 250px;
	
}

.part_text_left{
	shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
	overflow: visible;
	background: #FAFAFA;
	background-size: cover;
	background-position: center;
	padding: 40px;
	min-height: 250px;
	font-weight: 200;
	font-style: italic;
}

.part_img_right{
	background-image: url(./../cut/gallery_images/gallery_image5.png);
	shape-outside: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 250px;
	margin-left: 3%;
	margin-right: -7%;
	padding-right: -0.5%
}

.octagon_left{
	background-image: url(./../cut/gallery_images/gallery_image5.png);
	-webkit-clip-path: polygon(100% 0, 75% 25%, 100% 49%, 75% 77%, 100% 100%, 0 100%, 0 75%, 0 25%, 0 0);
	clip-path: polygon(100% 0, 75% 25%, 100% 49%, 75% 77%, 100% 100%, 0 100%, 0 75%, 0 25%, 0 0);
	overflow: visible;
	padding: 40px;
	font-weight: 200;
	min-height: 250px;
	font-style: italic;
	margin-left: 3%;
	margin-right: -7%;
	padding-right: -0.5%;
	}

.octagon_right{
	background-image: url(./../cut/gallery_images/gallery_image5.png);
	-webkit-clip-path: polygon(25% 0, 100% 0, 100% 50%, 100% 100%, 60% 100%, 25% 100%, 0 75%, 25% 50%, 0 25%);
	clip-path: polygon(25% 0, 100% 0, 100% 50%, 100% 100%, 60% 100%, 25% 100%, 0 75%, 25% 50%, 0 25%);
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 250px;
	margin-right: -7%;
	padding-right: -0.5%
}

.byt{
	padding: 0;
}
